{# /app/templates/security/login.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container-login">
    <div class="w-25 login_form">
        <form  method="post">
            {# If there's any error, display it to the user #}
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h2>Connectez vous ! </h2>
        
            {# Email Input #}
            <p class="mb-0 mt-5" > Email </p>
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        
            {# Password Input #}
            <p class="mt-3 mb-0"> Mot de passe </p>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        
            {# CSRF Token Input #}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            <div class="btn-mdp">
                <button class=" mt-3 btn btn-lg btn-success" type="submit">
                    Connexion
                </button>
        </form>
            <div class="d-flex  align-items-center">
                <p class="my-1 mt-3 ml-4"><a href={{ path('app_forgot_password_request') }} class="text-dark">Mot de passe oublié ?</a></p>
            </div>
        </div>
    </div>
    <div class="inscription_link">
        <h2> Pas encore de compte ? </h2>
        <p class="mt-4">Vous êtes étudiant et vous n'avez pas encore de compte sur la platforme ?</p>
        <button class=" mt-3 btn btn-lg  btn-success" type="submit">
            Accèder au formulaire d'inscription
        </button>
</div>

{% endblock %}