{% extends 'base.html.twig' %}

{% block title %}Mot de passe reset{% endblock %}

{% block body %}
    <p class="text-center">Un email a été envoyé. Ce lien va expirer dans {{ tokenLifetime|date('g') }} heure(s).</p>
    <p class="text-center">Si vous ne recevez pas de mail, vérifiez votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}
