<h1>Bonjour </h1>

<p>Pour modifier vôtre mot de passe clickez sur le lien suivant </p>



<p>Attention ce lien va s'autodétruire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }} UwU <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a></p>
 
<img style="height: 100px; width: 100px;"src="https://i.imgur.com/R0fuzVA.gif" alt="thumbs up">