{% extends "base.html.twig" %}

{% block body %}

    {% block navAdmin %}

    {% endblock navAdmin %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">id</th>
            <th scope="col">label</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categorys %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.label }}</td>
                    <td>
                        <a href="#" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    <a href="{{ path('category_create_page') }}" class="btn btn-primary">Ajout catégorie</a>
{% endblock body %}
