/* FOOTER */
.footerBanner {
    width: 100%;
    height: 250px;
    margin-left: -10px;
    padding-right: 2px;
    background-color: $black;
    position: fixed;
    font-family: sans-serif;
    position: absolute;
    bottom: 0;
}

.footerCenterElements {
    margin-top: 50px;
    height: 50px;
    display: flex;
    color: $white;
}

.footerAssociation {
    width: 15%;
    margin-left: 15%;
}

.footerContact {
    width: 15%;
    margin-left: 3%;
}

.footerAccess {
    width: 15%;
    margin-left: 4%;
}

.footerFollow {
    width: 15%;
    margin-left: 3%;
    margin-right: 15%;
}

.p-nomargin {
    margin: 0;
    padding: 0;
}

.p-normargin-top {
    margin-top: 0;
    padding-top: 0;
}

.p-nomargin-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

.footerSmallText {
    font-size: 15px;
    color:$footer-gray;
}

.footerTwitterLogo {
    width: 40px;
    margin-right: 2%;
}

.footerFacebookLogo {
    width: 40px;
    margin-left: 2%;
}

/* Responsive >1400px */
@media screen and (max-width: 1400px){
    .footerCenterElements {
        margin-top: 30px;
    }

    .footerAssociation {
        width: 20%;
        margin-left: 7%;
    }
    
    .footerContact {
        width: 20%;
        margin-left: 1%;
    }
    
    .footerAccess {
        width: 20%;
        margin-left: 2%;
    }
    
    .footerFollow {
        width: 20%;
        margin-left: 1%;
        margin-right: 7%;
    }
}

/* ?? */

header{
    height: 200px;
}

.login_form{
    margin-left: 15%;
    margin-top: 1%;
}

.btn-mdp{
    display: flex;
}

.container-login{
    display: flex;
}

.inscription_link{
    margin-left: 15%;
    margin-top: 1%;
}
