{% extends "base.html.twig" %}
{% block body %}
    {{ form_start(sportForm) }}
    <div class="container">
        <div class="row justify_content_center">
            <div class="col-md-6 col-12">
                <div class="mb-2">
                    {{ form_row(sportForm.label) }}
                </div>
                <div class="mb-2 mt-2">
                    {{ form_row(sportForm.submit) }}
                </div>
                <div class="mb-2 mt-1">
                    <span class="text-danger">* Champs obligatoires</span>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(sportForm) }}
{% endblock %}